/.metadata/
*.dll
*.exe
*.o
*.so
*.com
*.class
*.log
logs/
*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx
*.dmg
*.iso
*.tar
*.zip
*.gz
.Trashes
.Thumbs.db
.ehthumbs.db
#=> Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
.target
.springBeans
.recommenders/
/Servers/
-----------------------------------------------------------------------------
#=> VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json