<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectEventList">
	    SELECT *
	    FROM
	    (SELECT ROWNUM RNUM, A.*
	        FROM(
	          SELECT 
		        EVENT_NO
		      , EVENT_PROCESSING
		      , EVENT_NAME
		      , EVENT_DATE
			FROM TB_EVENT
			ORDER
			   BY EVENT_NO DESC)
	           A
	           )
	           WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="eventSelectListCount">
		SELECT
			   COUNT(*) count
		  FROM TB_EVENT
		 WHERE EVENT_STATUS='Y'
	</entry>


</properties>