<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectEventList">
	    SELECT *
	    FROM
	    (SELECT ROWNUM RNUM, A.*
	        FROM(
	          SELECT 
		        EVENT_NO
		      , EVENT_PROCESSING
		      , EVENT_NAME
		      , EVENT_DATE
			FROM TB_EVENT
			WHERE EVENT_STATUS = 'Y'
			ORDER
			   BY EVENT_NO DESC)
	           A
	           )
	           WHERE RNUM BETWEEN ? AND ?
	           
	</entry>
	
	<entry key="eventSelectListCount">
		SELECT
			   COUNT(*) count
		  FROM TB_EVENT
		 WHERE EVENT_STATUS='Y'
	</entry>

	<entry key="adminSelectEventList">
		SELECT
				EVENT_NO
			  ,	EVENT_NAME
			  ,	EVENT_DATE
			  ,	EVENT_PROCESSING
	  	FROM
	  		TB_EVENT
  		WHERE EVENT_STATUS = 'Y'
  		ORDER BY EVENT_NO DESC
	</entry>
	
	<entry key="selectEvent">
		SELECT
				EVENT_NO
		      ,	EVENT_NAME
			  , EVENT_CONTENTS
			  , EVENT_DATE
			  , EVENT_PROCESSING
	  	FROM
	  			TB_EVENT
  		WHERE EVENT_STATUS = 'Y'
		AND	  EVENT_NO = ?	 	
	</entry>
	
	<entry key="updateEvent">
		UPDATE
				TB_EVENT
		SET
			  EVENT_NAME = ?
			, EVENT_CONTENTS = ?
		WHERE 
			EVENT_NO = ?	
	</entry>
	
	<entry key="closeEvent">
		UPDATE 
				TB_EVENT
			SET
				EVENT_PROCESSING = 'N'
		WHERE EVENT_NO = ?
	</entry>
	
	<entry key="deleteEvent">
		UPDATE
				TB_EVENT
			SET
				EVENT_STATUS = 'N'
		WHERE EVENT_NO = ?
	</entry>
	
	<entry key="insertEvent">
		INSERT
			 INTO
			 	TB_EVENT
			 	(
			 	 EVENT_NO
			   , EVENT_NAME
			   , EVENT_CONTENTS
   			 	)
 			VALUES
 			(
 				SEQ_EVENT_NO.NEXTVAL
 				, ?
 				, ?		
 			)
	</entry>
	
	<entry key="countEvent">
	SELECT 
        COUNT(*) COUNT
    FROM
        TB_EVENT
	WHERE
        EVENT_STATUS = 'Y' AND EVENT_PROCESSING = 'Y'
	</entry>
</properties>