<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 문의작성 -->
	<entry key="writeInquiry">
	INSERT
	    INTO MEMBER
	    (
	      INQ_NO
	    , MEM_NO
	    , INQ_NAME
	    , INQ_QUESTION
	    , INQ_DATE
	    , INQ_ANSWER
	    , INQ_PROCESSING
	    , INQ_PRIVATE
        , INQ_STATUS
	    )
    VALUES
	    (
	      SEQ_INQ_NO.NEXTVAL
	    , ?
	    , ?
	    , ?
	    , DEFAULT
	    , NULL
	    , DEFAULT
	    , ?
        , DEFAULT
	    )
	</entry>
	
	<!-- 문의목록 조회 -->
	
	<entry key="selectInquiryList">
    SELECT *
	    FROM
	    (SELECT ROWNUM RNUM, A.*
	    FROM(
	        SELECT 
		        INQ_NO
		      , INQ_NAME
		      , INQ_PROCESSING
		      , RPAD(SUBSTR(MEM_ID,1,3),LENGTH(MEM_ID),'*') USER_ID
		      , INQ_DATE
		      , INQ_QUESTION
		      , INQ_ANSWER
		      , INQ_PRIVATE
			FROM TB_INQUIRY I
		       JOIN TB_MEMBER M ON (I.MEM_NO=M.MEM_NO)
			ORDER
			   BY INQ_NO DESC)
		       A
		       )
		       WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="inquirySelectListCount">
		SELECT
		       COUNT(*) count
		  FROM TB_INQUIRY
		 WHERE INQ_STATUS = 'Y'
	</entry>


</properties>