<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectMainPic">
	SELECT
			  MAINIMG_NO
			, MAINIMG_IMG
	FROM
			TB_MAINIMG
	
</entry>

<entry key="insertPic">
	INSERT INTO
			TB_MAINIMG
		VALUES
		(
			SEQ_MAINIMG_NO.NEXTVAL
		   , ?
		   ,null
		)
</entry>

</properties>