<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT 
				MEM_NO
      			,MEM_ID
      			,MEM_PWD
      			,NICKNAME
      			,MEM_NAME
      			,PHONE
      			,WARNING_COUNT
      			,MEM_IMG
      			,MEM_STATUS  
		FROM 
			TB_MEMBER
		WHERE 
			 MEM_ID=?
		  AND 
		     MEM_PWD=?
		  AND
		  	 MEM_STATUS = 'Y'
	</entry>

	<entry key="insertMember">
	INSERT
	    INTO TB_MEMBER
	    (
	    MEM_NO
	    , MEM_ID
	    , MEM_PWD
	    , NICKNAME
	    , MEM_NAME
	    , PHONE
	    )
	    VALUES
	    (
	    SEQ_MEM_NO.NEXTVAL
	    , ?
	    , ?
	    , ?
	    , ?
	    , ?
	    )
	</entry>
	
	<entry key="idCheck">
	SELECT
	       COUNT(*) "COUNT"
	  FROM TB_MEMBER
	 WHERE MEM_ID = ?
	</entry>
	

	<entry key="loginAdmin">
		SELECT
		MEM_NO
		, MEM_ID
		, MEM_PWD
		, NICKNAME
		, MEM_NAME
		, PHONE
		, WARNING_COUNT
		, MEM_IMG
		, MEM_STATUS
		FROM TB_MEMBER
		WHERE MEM_PWD = ?
		  AND MEM_STATUS = 'Y'
	</entry>
	
	<entry key="selectMemberAllergy">
		SELECT 
			ALG_NO
			,ALG_NAME 
    	FROM TB_ALLERGY
		WHERE
    		ALG_NO IN(SELECT ALG_NO
              			FROM TB_MEM_ALLERGY
              			WHERE MEM_NO=?)
	</entry>
	
	<entry key="selectWishList">
		SELECT 
			MEM_NO
			,RECIPE_NO
			
		FROM 
			TB_WISHLIST
		WHERE 
			MEM_NO=?
	</entry>
	
	<entry key="selectRecipeFromTheme">
	
		SELECT RECIPE_NO 
				FROM TB_CATEGORY
				WHERE C_NAT_NO=(SELECT C_NAT_NO
				FROM TB_CATEGORY_NATION
				WHERE C_NAT_NAME='한국');
	</entry>
	<entry key="selelctRecipeFromIngredient">
		SELECT RECIPE_NO 
					FROM TB_INGREDIENT
				WHERE 
						INGRE_NAME='닭다리살';
	
	</entry>
	<entry key="selectRecipeFromTheme">
		SELECT RECIPE_NO
				FROM TB_CATEGORY
		WHERE C_THEME_NO = (SELECT C_THEME_NO
								FROM 
									TB_CATEGORY_THEME
								WHERE 
									C_THEME_NAME = '반려동물을 위한 요리');
	
	</entry>
	
	<entry key="selectMemberList">
		SELECT 
			  MEM_NO
			, MEM_ID
			, NICKNAME
			, MEM_NAME
			, PHONE
			, WARNING_COUNT
		FROM TB_MEMBER
	</entry>
	
	<entry key="selectMemberById">
		SELECT
			  MEM_NO
			, MEM_ID
			, NICKNAME
			, MEM_NAME
			, PHONE
			, WARNING_COUNT
		FROM TB_MEMBER
		WHERE MEM_ID LIKE '%'|| ? ||'%'
	</entry>
	
	<entry key="selectMemberByNick">
		SELECT
			  MEM_NO
			, MEM_ID
			, NICKNAME
			, MEM_NAME
			, PHONE
			, WARNING_COUNT
		FROM TB_MEMBER
		WHERE NICKNAME LIKE '%'|| ? ||'%'
	</entry>
	
	
	
<!-- 수민.회원정보수정 (완) -->
<entry key="updateMember">
	UPDATE 
	    TB_MEMBER
	SET
	      MEM_PWD = ?
	    , NICKNAME = ?
	    , PHONE = ?
	WHERE 
	    MEM_ID = ?
</entry>
	
	
	
	
<entry key="insertMemberAllergy">
	INSERT 
	    INTO TB_MEM_ALLERGY
	    (
	      MEM_NO
	    , ALG_NO
	    )
	    VALUES
	    (
	      ?
	    , ?
	    )
</entry>


<entry key="deleteMemberAllergy">
	DELETE 
	    TB_MEM_ALLERGY
	WHERE
	    MEM_NO=?
</entry>

<entry key="searchMemberId">
SELECT 
    MEM_NAME
    , MEM_ID
    FROM TB_MEMBER
    WHERE MEM_NAME = ?
    AND PHONE = ?
</entry>


<entry key="countMember">
	SELECT
		COUNT(*) COUNT
	FROM
		TB_MEMBER
	WHERE
		MEM_STATUS = 'Y' AND MEM_ID != 'admin'
</entry>




<!-- 회원삭제 -->
<entry key="deleteMem">
	UPDATE TB_MEMBER
	SET MEM_STATUS = 'N'
	WHERE MEM_ID = ?
</entry>

	
	
	
	
	
	
	
	
	
	
	
</properties>
