<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 공지사항 조회 -->
	
	<entry key="selectNoticeList">
		SELECT
		        NOTICE_NO
		    ,   NOTICE_CLSFC
		    ,   NOTICE_NAME
		    ,   NOTICE_DATE
		FROM TB_NOTICE
		WHERE NOTICE_STATUS = 'Y'
		ORDER
		   BY NOTICE_NO DESC
	</entry>

	<entry key="insertNotice">
	INSERT
		INTO 
			TB_NOTICE(
				NOTICE_NO
              , NOTICE_NAME
			  , NOTICE_CONTENTS
              , NOTICE_DATE
			  , NOTICE_CLSFC
			  , NOTICE_STATUS
			  )
	  VALUES (
	  		SEQ_NOTICE_NO.NEXTVAL
	  	  , ?
	  	  , ?
	  	  , SYSDATE
	  	  , ?
	  	  , DEFAULT	
	  )
	</entry>



</properties>