<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="noticeSelectListCount">
		SELECT
		       COUNT(*) count
		  FROM TB_NOTICE
		 WHERE NOTICE_STATUS = 'Y'
	</entry>
	
	
	<!-- 공지사항 조회 -->
	<entry key="selectNoticeList">
		SELECT *
		FROM
		(SELECT ROWNUM RNUM, A.*
		    FROM(
		        SELECT
		            NOTICE_NO
		        ,   NOTICE_CLSFC
		        ,   NOTICE_NAME
		        ,   NOTICE_DATE
		        FROM TB_NOTICE
		        WHERE NOTICE_STATUS = 'Y'
		        ORDER
		        BY NOTICE_NO DESC)
		        A
		        )
		        WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="adminSelectNoticeList">
        SELECT
                NOTICE_NO
            ,   NOTICE_CLSFC
            ,   NOTICE_NAME
            ,   NOTICE_DATE
        FROM TB_NOTICE
        WHERE NOTICE_STATUS = 'Y'
        ORDER
           BY NOTICE_NO DESC
    </entry>

	<entry key="insertNotice">
	INSERT
		INTO 
			TB_NOTICE(
				NOTICE_NO
              , NOTICE_NAME
			  , NOTICE_CONTENTS
              , NOTICE_DATE
			  , NOTICE_CLSFC
			  , NOTICE_STATUS
			  )
	  VALUES (
	  		SEQ_NOTICE_NO.NEXTVAL
	  	  , ?
	  	  , ?
	  	  , SYSDATE
	  	  , ?
	  	  , DEFAULT	
	  )
	</entry>

	<entry key="deleteNotice">
		UPDATE
			TB_NOTICE
		SET 
			NOTICE_STATUS = 'N'
		WHERE	
			 NOTICE_NO IN (
	</entry>

	<entry key="selectDetailNotice">
		SELECT
			NOTICE_NO
		  ,	NOTICE_NAME
		  , NOTICE_CONTENTS
		  , NOTICE_DATE
		  , NOTICE_CLSFC
	  FROM TB_NOTICE
	  WHERE NOTICE_NO = ?
	    AND NOTICE_STATUS = 'Y' 	
	</entry>
	
	<entry key="updateNotice">
		UPDATE
				TB_NOTICE
			SET
				NOTICE_NAME = ?
			  , NOTICE_CONTENTS = ?
			  , NOTICE_CLSFC = ?
		  WHERE NOTICE_NO = ?	 
	</entry>
	
	<entry key="deleteNotice2">
		UPDATE
			TB_NOTICE
		SET 
			NOTICE_STATUS = 'N'
		WHERE	
			 NOTICE_NO = ?
	</entry>
	
	<entry key="searchNoticeTitle">
		SELECT *
		FROM
		(SELECT ROWNUM RNUM, A.*
		    FROM(
		        SELECT
		            NOTICE_NO
		        ,   NOTICE_CLSFC
		        ,   NOTICE_NAME
		        ,   NOTICE_DATE
		        FROM TB_NOTICE
		        WHERE NOTICE_STATUS = 'Y'
                  AND NOTICE_NAME LIKE '%'|| ? ||'%'
		        ORDER
		        BY NOTICE_NO DESC)
		        A
		        )
		        WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchNoticeContent">
		SELECT *
		FROM
		(SELECT ROWNUM RNUM, A.*
		    FROM(
		        SELECT
		            NOTICE_NO
		        ,   NOTICE_CLSFC
		        ,   NOTICE_NAME
		        ,   NOTICE_DATE
		        FROM TB_NOTICE
		        WHERE NOTICE_STATUS = 'Y'
                  AND NOTICE_CONTENTS LIKE '%'|| ? ||'%'
		        ORDER
		        BY NOTICE_NO DESC)
		        A
		        )
		        WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="searchNoticeTitleContent">
		SELECT *
		FROM
		(SELECT ROWNUM RNUM, A.*
		    FROM(
		        SELECT
		            NOTICE_NO
		        ,   NOTICE_CLSFC
		        ,   NOTICE_NAME
		        ,   NOTICE_DATE
		        FROM TB_NOTICE
		        WHERE NOTICE_STATUS = 'Y'
                  AND (NOTICE_NAME LIKE '%'|| ? ||'%' OR NOTICE_CONTENTS LIKE '%'|| ? ||'%')
		        ORDER
		        BY NOTICE_NO DESC)
		        A
		        )
		        WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchNoticeTitleCount">
	    SELECT
		       COUNT(*) count
		  FROM TB_NOTICE
		 WHERE NOTICE_STATUS = 'Y'
		   AND NOTICE_NAME LIKE '%'|| ? ||'%'
	</entry>
	
	<entry key="searchNoticeContentCount">
	    SELECT
		       COUNT(*) count
		  FROM TB_NOTICE
		 WHERE NOTICE_STATUS = 'Y'
		   AND NOTICE_CONTENTS LIKE '%'|| ? ||'%'
	</entry>

	<entry key="searchNoticeTitleContentCount">
	    SELECT
		       COUNT(*) count
		  FROM TB_NOTICE
		 WHERE NOTICE_STATUS = 'Y'
		   AND (NOTICE_NAME LIKE '%'|| ? ||'%' OR NOTICE_CONTENTS LIKE '%'|| ? ||'%')
	</entry>
	
</properties>