<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectRecipeList">
		SELECT
			*
		FROM
			TB_RECIPE

	</entry>

	<entry key="selectMainThumbnailList">
		SELECT
		RECIPE_No
		, RECIPE_PIC
		, RECIPE_NAME
		, RECIPE_DIFFICULTY
		, RECIPE_VIEWS
		FROM (SELECT
		ROWNUM "RNUM"
		, R.*
		FROM
		(SELECT
		RECIPE_No
		, RECIPE_PIC
		, RECIPE_NAME
		, RECIPE_DIFFICULTY
		, RECIPE_VIEWS
		FROM
		TB_RECIPE
		ORDER BY
		RECIPE_VIEWS DESC) "R")
		WHERE RNUM BETWEEN 1 AND 4
	</entry>

	<entry key="recipeSelectListCount">
		SELECT
			   COUNT(*) count
		  FROM TB_RECIPE
		 WHERE RECIPE_STATUS='Y'
	</entry>

	<entry key="recipeSelectList">
	SELECT *
	    FROM
	    (SELECT ROWNUM RNUM, A.*
	        FROM(
	          SELECT
		        RECIPE_NO
		      , RECIPE_NAME
		      , MEM_ID
		      , RECIPE_DATE
			FROM TB_RECIPE
			JOIN TB_MEMBER USING(MEM_NO)
			WHERE RECIPE_STATUS = 'Y'
			ORDER
			   BY RECIPE_NO DESC)
	           A
	           )
	           WHERE RNUM BETWEEN ? AND ?
	</entry>





	<!-- 수민: 마이페이지_내가 만든 레시피 목록 조회 -->
	<entry key="selectThumbnailList">
		SELECT
		  RECIPE_NO
		, RECIPE_NAME
		, RECIPE_DATE
		, RECIPE_VIEWS
		, RECIPE_PIC
		FROM TB_RECIPE
		WHERE MEM_NO = ?
		AND RECIPE_STATUS = 'Y'
		ORDER BY RECIPE_NO DESC
	</entry>


	<!-- 수민: 마이페이지_내가 작성한 댓글 조회 -->
	<entry key="selectCommentList">
		SELECT
		COM_NO
		, COM_CONTENT
		, COM_DATE
		, RECIPE_NAME
		, RECIPE_PIC
		, RECIPE_VIEWS
		FROM TB_COMMENT
		JOIN TB_RECIPE USING (MEM_NO)
		WHERE MEM_NO = ?
		AND COM_STATUS = 'Y'
		ORDER BY COM_DATE DESC
	</entry>



	<!-- 수민: 마이페이지_내가 찜한 목록 조회 -->
	<entry key="selectWishList">
		SELECT
		  R.RECIPE_NO		
		, RECIPE_NAME
		, RECIPE_PIC
		, RECIPE_VIEWS
		FROM TB_RECIPE R
		JOIN TB_WISHLIST USING (MEM_NO)
		WHERE MEM_NO = ?
		AND RECIPE_STATUS = 'Y'
		ORDER BY RECIPE_DATE DESC
	</entry>



	<!-- 수민: 마이페이지 대표 이미지 변경 -->
	<entry key="updateImg">
		UPDATE TB_MEMBER
		SET MEM_IMG = ?
		WHERE MEM_ID = ?
	</entry>



	<!-- 수민: 마이페이지 체크박스 삭제 -->
	<entry key="deleteComment">
		UPDATE
		TB_COMMENT
		SET
		COM_STATUS = 'N'
		WHERE
		COM_NO IN (
	</entry>




	<entry key="selectRecommnedRecipe">



		SELECT
		RECIPE_NO
		, RECIPE_PIC
		, RECIPE_NAME
		, RECIPE_DIFFICULTY
		, RECIPE_VIEWS
		FROM TB_RECIPE
		WHERE RECIPE_NO IN (SELECT RECIPE_NO
		FROM TB_CATEGORY
		JOIN TB_CATEGORY_INGREDIENT USING(C_INGRE_NO)
		JOIN TB_CATEGORY_NATION USING(C_NAT_NO)
		WHERE C_INGRE_NAME = ?
		OR C_NAT_NAME = ?
		UNION
		SELECT RECIPE_NO
		FROM TB_RECIPE
		WHERE RECIPE_PERSON =?)
	</entry>

	<!-- 레시피 상세 조회 sql -->
	<entry key="selectDetailRecipe">
		SELECT
		RECIPE_NO
		, RECIPE_NAME
		, RECIPE_TAG
		, RECIPE_VIDEO
		, RECIPE_DIFFICULTY
		, RECIPE_PERSON
		, RECIPE_TIME
		, RECIPE_DATE
		, MEM_NO
		, RECIPE_PIC
		, RECIPE_VIEWS
		FROM
		TB_RECIPE
		WHERE
		RECIPE_NO = ?

	</entry>

	<entry key="selectDetailIngreClass">
		SELECT
		INGRE_C_NAME
		FROM
		TB_INGRE_CLASS
		WHERE
		RECIPE_NO = ?
	</entry>

	<entry key="selectDetailIngredient">
		SELECT
		INGRE_NO
		, INGRE_C_NAME
		, INGRE_NAME
		, INGRE_AMOUNT
		FROM
		TB_INGREDIENT
		JOIN
		TB_INGRE_CLASS USING(INGRE_C_NO)
		WHERE
		INGRE_C_NO IN (SELECT
		INGRE_C_NO
		FROM
		TB_INGRE_CLASS
		WHERE
		RECIPE_NO = ?)
	</entry>

	<entry key="selectDetailCategory">
		SELECT
		C_INGRE_NAME
		, C_KIND_NAME
		, C_NAT_NAME
		, C_STEP_NAME
		, C_THEME_NAME
		, C_TOOL_NAME
		FROM
		TB_CATEGORY
		JOIN
		TB_CATEGORY_INGREDIENT USING(C_INGRE_NO)
		JOIN
		TB_CATEGORY_KIND USING(C_KIND_NO)
		JOIN
		TB_CATEGORY_NATION USING(C_NAT_NO)
		JOIN
		TB_CATEGORY_STEP USING(C_STEP_NO)
		JOIN
		TB_CATEGORY_THEME USING(C_THEME_NO)
		JOIN
		TB_CATEGORY_TOOL USING(C_TOOL_NO)
		WHERE
		RECIPE_NO = ?
	</entry>

	<entry key="selectDetailCookingOrder">
		SELECT
			  CO_NO
			, CO_STEP
			, CO_CONTENT
			, CO_IMG
		FROM
		TB_COOKING_ORDER

		WHERE RECIPE_NO = ?
	</entry>



	<entry key="deleteRecipe">
		UPDATE
				TB_RECIPE
			SET
				RECIPE_STAUS = 'N'
		WHERE RECIPE_NO = ?
	</entry>



	<!-- 레시피 상세 조회 sql 끝 -->

	<entry key="insertRecipe">
		INSERT INTO
		    TB_RECIPE
		    (
		      RECIPE_NO
		    , RECIPE_NAME
		    , RECIPE_TAG
		    , RECIPE_VIDEO
		    , RECIPE_DIFFICULTY
		    , RECIPE_PERSON
		    , RECIPE_TIME
		    , RECIPE_DATE
		    , MEM_NO
		    , RECIPE_PIC
		    , RECIPE_VIEWS
		    , RECIPE_STATUS
		    )
		VALUES
		    (
		      SEQ_RECIPE_NO.NEXTVAL
		    , ?
		    , ?
		    , ?
		    , ?
		    , ?
		    , ?
		    , DEFAULT
		    , ?
		    , ?
		    , DEFAULT
		    , DEFAULT
		    )


	</entry>
	<entry key="insertIngreClass">

		INSERT INTO
		    TB_INGRE_CLASS(INGRE_C_NO, RECIPE_NO, INGRE_C_NAME)
		VALUES
		    (SEQ_ING_C_NO.NEXTVAL, SEQ_RECIPE_NO.CURRVAL, ?)
	</entry>
	<entry key="insertIngredient">
		INSERT INTO
		    TB_INGREDIENT(INGRE_NO, INGRE_C_NO, INGRE_NAME, INGRE_AMOUNT)
		VALUES
		    (SEQ_INGRE_NO.NEXTVAL, SEQ_ING_C_NO.CURRVAL, ?, ?)
	</entry>

	<entry key="insertCookingOrder">
		INSERT INTO
	    	TB_COOKING_ORDER(CO_NO, RECIPE_NO, CO_STEP, CO_CONTENT,CO_IMG)
		VALUES
	    	(SEQ_CO_NO.NEXTVAL, SEQ_RECIPE_NO.CURRVAL, SEQ_CO_STEP.NEXTVAL, ?, ?)

	</entry>

	<entry key="insertRecipeCategory">
	INSERT INTO
		    TB_CATEGORY
		    (RECIPE_NO,C_NAT_NO,C_STEP_NO,C_TOOL_NO,C_KIND_NO,C_THEME_NO,C_INGRE_NO)
		VALUES
		    (SEQ_RECIPE_NO.CURRVAL,?,?,?,?,?,?)
	</entry>

	<entry key="insertComment">
		INSERT
    INTO TB_COMMENT
    (
      COM_NO
    , RECIPE_NO
    , COM_CONTENT
    , MEM_NO
    , COM_DATE
    , COM_STATUS
    )
    VALUES
    (
      SEQ_COM_NO.NEXTVAL
    , ?
    , ?
    , ?
    , DEFAULT
    , DEFAULT
    )

	</entry>

	<entry key="selectComList">
		SELECT
			MEM_NAME
			,COM_CONTENT
		FROM
			TB_COMMENT
		JOIN
            TB_MEMBER USING(MEM_NO)
		WHERE
			RECIPE_NO = ?

	</entry>
	
	<entry key="searchRecipeName">
		SELECT
		  RECIPE_NO
		, RECIPE_NAME
		, RECIPE_DATE
		, RECIPE_VIEWS
		, RECIPE_PIC
		FROM TB_RECIPE
		WHERE RECIPE_NAME LIKE '%'||?||'%'
		
	</entry>
	
	<entry key="selectRecipeListOrderByView">
		SELECT
        RECIPE_NO
      , RECIPE_NAME
      , RECIPE_TAG
      , RECIPE_VIDEO
      , RECIPE_DIFFICULTY
      , RECIPE_PERSON
      , RECIPE_TIME
      , RECIPE_DATE
      , MEM_NO
      , RECIPE_PIC
      , RECIPE_VIEWS
    FROM
        TB_RECIPE
    WHERE 
        RECIPE_STATUS = 'Y'
    ORDER BY
        RECIPE_VIEWS DESC
	</entry>
	<entry key="increaseView">
		UPDATE
			    TB_RECIPE
			SET 
			    RECIPE_VIEWS = RECIPE_VIEWS+1
			WHERE
			    RECIPE_NO = ?
			AND
			    RECIPE_STATUS = 'Y'
	</entry>
	
	<entry key="insertWishlist">
		INSERT INTO
    TB_WISHLIST
        (
         MEM_NO
        ,RECIPE_NO)
    VALUES
        (?,?)
	</entry>
	
	<entry key="deleteWishlist">
	DELETE TB_WISHLIST
		WHERE MEM_NO = ?
		AND RECIPE_NO = ?
	</entry>
	
</properties>
