<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>오늘의 식탁 관리자</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="../../resources/css/styles.css"
	rel="stylesheet" />
<style>
.list-group-flush span {
	font-weight: 900;
	margin-left: 30px;
}

.report-wrapper, .inquiry-wrapper{
	width: 100%;
	height: 30%;
}

.report-wrapper div{
	height: 100%;
	float: left;
}

.inquiry-wrapper div{
	height: 100%;
	float: left;
}

.report-left, .inquiry-left{
	width: 50%;
}

.report-right, .inquiry-right{
	width: 50%;
}

.more{
	text-decoration: none;
	color: #ccd0d3;
	text-align: right;
	float: right;
	margin-right: 5px;
}
.left{
	float: left;
}
</style>
</head>

<body>

	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div class="border-end bg-white left" id="sidebar-wrapper">
			<div class="sidebar-heading bg-light"
				style="width: 180px; margin: auto; padding: 0px;">
				<img src="../../resources/image/logo.jpg" alt=""
					style="box-sizing: border-box; width: 100%; height: 100%;">
			</div>
			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" style="border-top: 1px solid #dee2e6;"><span>메인사진변경</span></a>
				<a class="list-group-item list-group-item-action list-group-item-light p-3"	href="<%= contextPath %>/adminSelectMember.mem"><span>회원관리</span></a>
				<a class="list-group-item list-group-item-action list-group-item-light p-3"	href="<%= contextPath %>/adminNotice.no"><span>공지사항관리</span></a> 
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><span>문의/신고관리</span></a>
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="<%= contextPath %>/adminLogout.me"><span>로그아웃</span></a>
			</div>
		</div>
        <div>
            dsgfsdg
        </div>
    </div>
    
    <!-- Bootstrap core JS-->
	<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../../resources/js/scripts.js"></script>
</body>
</html>